extends layout

block content
	//- Load the Main Image from CSS for #bg-img
	#bg-img
	h1.Heading1.text-center WEB DEVELOPMENT REDEFINED!
	//- Start Section
	section.section1
		.container-fluid
			.row
				.col-xl-3.text-center
					.page-header
						h5 DELIVER FASTER
							.eBox
								img.Icon(src='../images/1121074051558096456-256.png', alt='icon image')
				.col-xl-3.text-center
					.page-header
						h5 IMPROVED EFFICIENCY
							.eBox
								img.Icon(src='../images/14539180181558096453-512.png', alt='icon image')
				.col-xl-3.text-center
					.page-header
						h5 IMPROVE YOUR PROCESS
							.eBox
								img.Icon(src='../images/173373361558096440-256.png', alt='icon image')
				.col-xl-3.text-center
					.page-header
						h5 IMPROVE YOUR DESIGN
							.eBox
								img.Icon(src='../images/2950523971558096453-512.png', alt='icon image')
	//- End Section 1
	//- Start Section 2
	section.section2
		.h1.text-center RECOGNITIONS / ENDORSMENTS
			.container-fluid
				.row
					.col-xl-6.col-sm-12.text-center
						.page-header
							h5 Professional Recognitions:
								.eBox2
									ul
										li Lean Sigma – Green Belt (Messier Bugatti Dowty)
					.col-xl-6.col-sm-12.text-center
						.page-header
							h5 Volunteer Recognitions:
								.eBox2
									ul
										li Public Speaking – District 8 – Winner
										li Public Speaking – Kin National Convention – Runner Up
										li Kinsmen of the Year Award – Ajax (2000)
	//- Start Section 2