extends layout

block content
	#bg-img
	h1.Heading1.text-center WEB DEVELOPMENT REDEFINED!
	section.section1
		h1.text-center MY VALUES
		br
		.container-fluid
			.row
				.col-xl-3.text-center
					h5 ON TIME DELIVERY
						.eBox
							img(src='')
				.col-xl-3.text-center
					h5 REDUCING YOUR COSTS
						.eBox
							img(src='')
				.col-xl-3.text-center
					h5 IMPROVE YOUR PROCESS
						.eBox
							img(src='')
				.col-xl-3.text-center
					h5 IMPROVE YOUR DESIGN
						.eBox
							img(src='')