extends layout
block content
	h1.Heading1.text-center Welcome to my Projects Page
		h1.text-center Projects
		br
		.container-fluid
			.row
				.col-xl-3.text-center
					h5 HTML / CSS
						.eBox
							img(src='')
					.myText1
						ul
							li Wordpress
							li HTML
							li CSS
							li PHP
							li Express.js
							li ASP.NET
				.col-xl-3.text-center
					h5 PHP
						.eBox
							img(src='')
					.myText1
						ul
							li c#
							li PHP
							li Express.js
							li ASP.NET
				.col-xl-3.text-center
					h5 ASP.NET
						.eBox
							img(src='')
					.myTxtCenter
						.myText1
							ul
								li Website Updates
								li Modernization
				.col-xl-3.text-center
					h5 ASP.NET DEVELOPMENT
						.eBox
					.myText1
						ul
							li New Application
							li Updates and Devlopement 