extends layout

block content
	p Welcome to my Projects Page
	<div class="container">
		<div class="row">
			<div class="col-sm">
				One of three columns Projects
			</div>
			<div class="col-sm">
				One of three columns
			</div>
			<div class="col-sm">
				One of three columns
			</div>
		</div>
	</div>