body {
	background-color: #575c5f;
}

#bg-img {
	background: url("../images/AdobeStock_196907623.jpeg");
	min-height: 775px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.Heading1 {
	position: relative;
	top: -500px;
	right: auto;
	left: auto;
	color: red;
}
.section1 {
	display: inline-flexbox;
	position: relative;
	box-sizing: content-box;
	height: 400px;
	width: auto;
	background-color: rgba(146, 135, 135, 0.2);
}
div.eBox {
	top: 40px;
	position: relative;
	height: 200px;
	width: 200px;
	border-color: red;
	border-width: 1px;
	box-sizing: content-box;
	margin: auto;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	vertical-align: top;
	z-index: 100;
	border-style: solid;
}

img.Icon
{
	position: relative;
	height: 80%;
	display: block;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}
.myText1 {
	display: inline-block;
	position: relative;
	top: 50px;
}
ul li {
	text-align: left;
}

.aboutMe {
	color: white;
	margin: auto;
	display: inline-block;
	position: relative;
	top: 50px;
	font-size: 20px;
	width: 800px;
}

#contact {
	color: white;
	background-color: #212529;
	background-image: url(../img/map-image.png);
}

#contact .input-group {
	margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
	padding: 20px;
	font-weight: bold;
	color: #00b0e7;
}

.input-group .form-control:focus {
	border-color: #ffcd0f;
	box-shadow: 0 0 10px #ffcd0f;
}

.input-group .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari/Edge */
	font-weight: bold;
	color: #44000080;
}
.input-group .form-control:-ms-input-placeholder {
	/* IE 10+ */
	font-weight: bold;
	color: #44000080;
}
.input-group .form-control:-moz-placeholder {
	/* Firefox 18- */
	font-weight: bold;
	color: #44000080;
}
.input-group .form-control::-moz-placeholder {
	/* Firefox 19+ */
	font-weight: bold;
	color: #44000080;
}

section {
	padding: 4em 0;
	text-align: center;
}

#content1
{
	position: relative;
	margin-top: 100px;
}

.pricing-header {
max-width: 700px;
}
.card
{
margin: 0 auto; /* Added */
float: none; /* Added */
margin-bottom: 10px; /* Added */
}

.section2
{
	margin:10px;
	position: inherit;
	display: inline-flexbox;
	box-sizing: content-box;
	height: 700px;
	width: auto;
	background-color: rgba(146, 135, 135, 0.2);
}

div.eBox2 {
	margin: 50px auto;
	top: 40px;
	position: relative;
	height: 400px;
	width: 400px;
	border-color: green;
	border-width: 1px;
	box-sizing: content-box;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	vertical-align: top;
	z-index: 100;
	border-style: solid;
}